
@model IEnumerable<MiniBlog.Core.ViewModels.ListView.ListPictureViewModel>

@{
    ViewData["Title"] = "图片管理";
}
<h1>Pictures</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Small)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Big)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <img src="@item.Small" style="height:60px;" />
                
            </td>
            <td>
                <a href="#" class="btn btn-primary copy" value="ahaha">复制</a>
            </td>
            <td>
                <a href="#" class="btn btn-primary copy" value="ahaha">复制</a>
            </td>
            <td>
                @Html.ActionLink("删除", "Delete", new { id = item.Id })
            </td>
        </tr>
        }
    </tbody>
</table>
<pager option="ViewBag.Options" action-url="/Home/Pictures"></pager>