@model MiniBlog.Core.ViewModels.PostView.EditPictureViewModel

@{
    ViewData["Title"] = "上传图片";
}

<h4>上传图片</h4>
<div class="row">
    <div class="col-md-4">
        <div id="container">
            <a href="javascript:void(0)" class="file">
                选择图片
                <input type='file' multiple accept='image/gif,image/jpeg,image/jpg,image/png' />
                <input type="hidden" value="" />
            </a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link href="~/upload/css/index.css" rel="stylesheet" />
    <script type="text/javascript" src="~/upload/js/uploadImg.js"></script>
    <script type="text/javascript">
        var params = {
            container: '#container',
            url: '/Home/Picture',
            dragDrop: false,
            onDragLeave: function (target) {
                //console.log(111)
            }
        };
        var upload = new UploadImg(params);
    </script>
}
