
@{
    ViewData["Title"] = "富士色彩 - 关于";
}
<h1 class="text-muted">About</h1>
    <div class="row">
        <div class="col-md-8">
            <p class="text-muted">
                三十年快门工一枚, 
                仍然相信富士色彩科学,
                在此分享富士各版本X-Trans传感器模拟胶片(胶卷)效果设置.
            </p>
        </div>
    </div>
