@model IEnumerable<MiniBlog.Core.ViewModels.ListView.ListPostViewModel>

@{
    ViewData["Title"] = "Shoot";
}

<h1 class="text-muted">Shoot</h1>
@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-10">
            <p>
                <a class="text-muted" asp-controller="Home" asp-action="Fuji">
                    <h5>@item.Title</h5>
                </a>
                <a asp-controller="Home" asp-action="Fuji">
                    <img src="@item.Icon" style="width:100%;" />
                </a>
            </p>
        </div>
    </div>


}

<pager action-url="/Home/Fuji" option="ViewBag.Options"></pager>

